<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="app" source="spring.application.name" />

    <!--TODO: Improve the logs location to be external from the sources -->
    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d - %m%n</pattern>
        </encoder>
        <file>${LOG_PATH:-.}/${app}-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH:-.}/${app}-log.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="DEV" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
        <file>${LOG_PATH:-.}/${app}_DEV-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH:-.}/${app}_DEV-log.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--
        TODO: should I keep these loggers ?
        <logger name="cloudblog-log" level="INFO">
            <appender-ref ref="default" />
        </logger>

        <logger name="cloudblog_DEV-log" level="DEBUG">
            <appender-ref ref="DEV" />
        </logger>
    -->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="DEV" />
        <appender-ref ref="default" />
    </root>

</configuration>
